#create a .env in this folder and fill this with your own data. 
#DO NOT SHARE .env IF RUNNING A PUBLIC SERVER
DB_NAME=your_db
DB_USER=safe_user
DB_PASSWORD=secure_password_here

# Секрет для JWT (минимум 32-64 символа для безопасности)
JWT_SECRET_KEY=generate-a-random-string-and-put-it-here
